@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");

.container {
  width: calc(100% - 20px);
  max-width: 1320px;
  margin-inline: auto;
}

body {
  font-family: "Rancho", cursive;
}

.raleway {
  font-family: "Raleway", sans-serif;
}
